-- Update fungsi handle_new_user untuk generate kode_perusahaan otomatis
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS trigger AS \$\$
DECLARE
  next_kode TEXT;
BEGIN
  -- Generate kode_perusahaan otomatis
  SELECT 'CMP' || LPAD(COALESCE(MAX(CAST(SUBSTRING(kode_perusahaan FROM 4) AS INTEGER)), 0) + 1, 3, '0')::TEXT
  INTO next_kode
  FROM public.users;
  
  INSERT INTO public.users (auth_id, nama_wajib_pajak, npwp, bidang_usaha, alamat, status_pkp, kode_perusahaan)
  VALUES (
    NEW.id,
    NEW.raw_user_meta_data->>'nama_wajib_pajak',
    NEW.raw_user_meta_data->>'npwp',
    NEW.raw_user_meta_data->>'bidang_usaha',
    NEW.raw_user_meta_data->>'alamat',
    (NEW.raw_user_meta_data->>'status_pkp')::boolean,
    COALESCE(NEW.raw_user_meta_data->>'kode_perusahaan', next_kode)
  );
  RETURN NEW;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;
